@using ITI.PrimarySchool.WebApp.Models.TestViewModels

@model BasicTestViewModel

<h1>Récapitulatif</h1>

<b>Couleur préférée:</b> @Model.Color
<br />
<b>Âge:</b> @Model.Age
<br />
<b>Code Postal:</b> @Model.PostalCode